<!DOCTYPE html>
<html>
<head>
	<title>ascend</title>
	<!--<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">-->
</head>
<body>
<!--:::::::::::::::::::::::::::::::::::::::::::::::::::::menu -->
	
	<header>
		<div>
			<img src="assets/logo.png">	
			<nav class="main-menu">
				<ul>
					<li><a href="#">Features</a></li>
					<li><a href="#">Princind</a></li>
					<li><a href="#">Examples</a></li>
					<li><a href="#">Support</a></li>
					<li><a id="login" href="#">Login</a>
					</li>
				</ul>
			</nav>
		</div>
	</header>
	<!--::::::::::::::::::::::::::::::::::imagenes presentacion-->
	<div class="main-image">
		<div id="fondorosado">
		<div class="divimagen">
			<div class="divtext">
			<h1>Selling online <span>made easy</span></h1>
			<h2>Ascend provides everything you need to start a successful online store</h2>
			<div id="play"></div>
			<h2>Start your free 30-day trial today!</h2>
			<h5>No credit card required.</h5>
			<input type="text"></input>
			<a href="#">Sign Up</a>
			</div>
			<img src="../assets/iPad.png">
		</div>
		</div>
		
	</div>
	<!--::::::::::::::::::::::::::::::::::::::::::::contenedor -->
	<div class="container">
	<div  class="today"  >
		<h2>Start Accepting orders <span>today</span></h2>
		<h5>Setup'a professional storefront within minutes.</h5>
		
		<div class="services" class="row">
			<ul>
				<li class="col-md-3">
					
						<div class="icon corazon"></div>
						
						<h3>Beautiful Templates</h3>
						<p>Redesigned and re-engineered the user interface fron inside out Redesigned and re-engineered the user interface fron inside out</p>
					
				</li>
				<li class="col-md-3">
					
						<div class="icon mobile"></div>
						<h3>Mobile Ready</h3>
						<p>Redesigned and re-engineered the user interface fron inside  Redesigned and re-engineered the user interface fron inside out</p>
					
				</li>
				<li class="col-md-3">
					
						<div class="icon candado"></div>
						<h3>Increased Security</h3>
						<p>Redesigned and re-engineered the user interface fron inside out Redesigned and re-engineered the user interface fron inside out</p>
					
				</li>
				<li class="col-md-3">
					
						<div class="icon pago"></div>
						<h3>Payment Options</h3>
						<p>Redesigned and re-engineered the user interface fron inside out Redesigned and re-engineered the user interface fron inside out</p>
						
				</li>
			</ul>
		</div>
		<h3 id="seeallfeatures">See all features</h3>
	</div>
	</div>
	<!--:::::::::::::::::::::::::::::::::::::::::::::DashBoard -->
	<div class="dashboard">
		<div class="contenedor">
		<h2>Powerful new <span>dashboard</span></h2>
		<h5>track and manage your business from anywhere.</h5>
		<div class="dashboard-imagen">
			<!--<div class="div-back">
					<div>
						<img src="assets/p-corazon.png" alt="design">
						<h5>Intuitive new design</h5>
						<h5>Redesigned and re-engineered the user interface fron inside out</h5>
					</div>
					<div>
						<img src="assets/p-setup.png" alt="options">
						<h5>Intuitive new design</h5>
						<h5>Redesigned and re-engineered the user interface fron inside out</h5>
					</div>
					<div>
						<img src="assets/p-refresh.png" alt="management">
						<h5>Intuitive new design</h5>
						<h5>Redesigned and re-engineered the user interface fron inside out</h5>
					</div>
					<div>
						<img src="assets/p-money.png" alt="accounting">
						<h5>Intuitive new design</h5>
						<h5>Redesigned and re-engineered the user interface fron inside out</h5>
					</div>
					<div>
						<img src="assets/p-finanza.png" alt="analytics">
						<h5>Intuitive new design</h5>
						<h5>Redesigned and re-engineered the user interface fron inside out</h5>
					</div>
				</div>-->
		</div>	
		</div>	
	</div>
	<!--::::::::::::::::::::::::::::::::::::::::::satisfaction -->
	<div class="satisfaction">
		<h2>Highest customer <span>satisfaction</span></h2>
		<h5>Our success is measured through the success of our customers.</h5>
		<div class="comentarios">
			<ul>
				<li>
					
						<div class="img-comment">
							<p>i couldn't believe how easy it was to setup my first ecommerce store. i was up and running within minutes, and i had my first sale within a few hours!</p>
						</div>
						<div id="circulos">
						<div class="div-borde">
							<div class="div-relleno"></div>
						</div>
						<h3>Uku Mason</h3>
						<h5>Marketing Expert</h5>
						</div>
				</li>
				<li>
					
						<div class="img-comment">
							<p>i couldn't believe how easy it was to setup my first ecommerce store. i was up and running within minutes, and i had my first sale within a few hours!</p>
						</div>
						<div id="circulos">
						<div class="div-borde">
							<div class="div-relleno"></div>
						</div>
						<h3>Uku Mason</h3>
						<h5>Marketing Expert</h5>
						</div>
					
				</li>
				<li>
					
						<div class="img-comment">
							<p>i couldn't believe how easy it was to setup my first ecommerce store. i was up and running within minutes, and i had my first sale within a few hours!</p>
						</div>
						<div id="circulos">
						<div class="div-borde">
							<div class="div-relleno"></div>
						</div>
						<h3>Uku Mason</h3>
						<h5>Marketing Expert</h5>
						</div>
					
				</li>
			</ul>			
		</div>
	</div>
	<!--::::::::::::::::::::::::::::::::::::::::::::::::footer -->
	<footer>
		<div>
			<ul class="lista">
				<li>
					<h4>Overview</h4>
					<ul >
						<li>
							<h5>About Us</h5>
						</li>
						<li>
							<h5>Features</h5>
						</li>
						<li>
							<h5>Pricing</h5>
						</li>
						<li>
							<h5>Examples</h5>
						</li>
						<li>
							<h5>About Us</h5>
						</li>
						<li>
							<h5>Carres</h5>
						</li>
						<li>
							<h5>Privacy Policy</h5>
						</li>
						<li>
							<h5>Term of Service</h5>
						</li>
					</ul>
				</li>
				<li>
					<h4>Support</h4>
					<ul>
						<li>
							<h5>Support Portal</h5>
						</li>
						<li>
							<h5>Community Forum</h5>
						</li>
						<li>
							<h5>Tutorial</h5>
						</li>
						<li>
							<h5>Online Seminars</h5>
						</li>
						<li>
							<h5>Extensions</h5>
						</li>
						<li>
							<h5>API</h5>
						</li>
					</ul>
				</li>
				<li>
					<h4>Partners</h4>
					<ul>
						<li>
							<h5>Paypal</h5>
						</li>
						<li>
							<h5>Mastercard</h5>
						</li>
						<li>
							<h5>Amex</h5>
						</li>
						<li>
							<h5>Royal Bank</h5>
						</li>
					</ul>
				</li>
				<li>
					<h4>Contac Us</h4>
					<h3>1-888.125-0328</h3>
					<h3>contact@ascend.com</h3>
					<h4 id="stayintouch">Stay In Touch</h4>
						<ul class="redes">
							<li class="liredes"><img src="assets/facebook.png"><h5>Facebook</h5></li>
							<li class="liredes"><img src="assets/twitter.png"><h5>Twitter</h5></li>
							<li class="liredes"><img src="assets/google.png"><h5>Google+</h5></li>
							<li class="liredes"><img src="assets/pinterest.png"><h5>Pinterest</h5></li>
							<li class="liredes"><img src="assets/linkedin.png"><h5>LinkedIn</h5></li>
						</ul>	
				</li>
			</ul>	
		</div>
	</footer>
	<!--:::::::::::::::::::::::::::::::::::::::::::base footer -->
	<footer class="base-footer">
		<div class="divbase">
		<h5>2012-2013 Ascend Inc. Designed by <span>Designer First.</span></h5>
		</div>
	</footer>

</body>
</html>