<!DOCTYPE html>
<html>
<head>
	<title>ascend</title>
</head>
<body>
<!--:::::::::::::::::::::::::::::::::::::::::::::::::::::menu -->
	<header>
		<div>
			<nav class="main-menu">
			<img src="">
				<ul>
					<li><a href="#">Features</a></li>
					<li><a href="#">Princind</a></li>
					<li><a href="#">Examples</a></li>
					<li><a href="#">Support</a></li>
				</ul>
			</nav>
		</div>
	</header>
	<!--::::::::::::::::::::::::::::::::::imagenes presentacion-->
	<div class="main-image">
		
	</div>
	<!--::::::::::::::::::::::::::::::::::::::::::::contenedor -->
	<div class="today">
		<p>Start Accepting orders <span>today</span></p>
		<p>Setup'a professional storefront within minutes.</p>
		
		<div class="services">
			<ul>
				<li>
					<div>
						<img src="">
						<h3>Beautiful Templates</h3>
						<h5>a,sjdklajsdhlakjsdhalksjdhakljsdhakljsdhakjs</h5>
					</div>
				</li>
				<li>
					<div>
						<img src="">
						<h3>Mobile Ready</h3>
						<h5>a,sjdklajsdhlakjsdhalksjdhakljsdhakljsdhakjs</h5>
					</div>
				</li>
				<li>
					<div>
						<img src="">
						<h3>Increased Security</h3>
						<h5>a,sjdklajsdhlakjsdhalksjdhakljsdhakljsdhakjs</h5>
					</div>
				</li>
				<li>
					<div>
						<img src="">
						<h3>Payment Options</h3>
						<h5>a,sjdklajsdhlakjsdhalksjdhakljsdhakljsdhakjs</h5>
					</div>
				</li>
			</ul>
		</div>
		<p>See al features</p>
	</div>
	<!--:::::::::::::::::::::::::::::::::::::::::::::DashBoard -->
	<div class="dashboard">
		<p>Powerful new <span>dashboard</span></p>
		<p>track and manage your business from anywhere.</p>
		<div class="dashboard-imagen">
			<div>
				<img src="#" alt="design">
				<h5>Intuitive new design</h5>
				<h5>Redesigned and re-engineered the user interface fron inside out</h5>
			</div>
			<div>
				<img src="#" alt="options">
				<h5>Intuitive new design</h5>
				<h5>Redesigned and re-engineered the user interface fron inside out</h5>
			</div>
			<div>
				<img src="#" alt="management">
				<h5>Intuitive new design</h5>
				<h5>Redesigned and re-engineered the user interface fron inside out</h5>
			</div>
			<div>
				<img src="#" alt="accounting">
				<h5>Intuitive new design</h5>
				<h5>Redesigned and re-engineered the user interface fron inside out</h5>
			</div>
			<div>
				<img src="#" alt="analytics">
				<h5>Intuitive new design</h5>
				<h5>Redesigned and re-engineered the user interface fron inside out</h5>
			</div>
		</div>		
	</div>
	<!--::::::::::::::::::::::::::::::::::::::::::satisfaction -->
	<div class="satisfaction">
		<p>Highest customer <span>satisfaction</span></p>
		<p>Our success is measured through the success of our customers.</p>
		<div class="comentarios">
			<ul>
				<li>
					<div>
						<p>i couldn't believe how easy it was to setup my first ecommerce store. i was up and running within minutes, and i had my first sale within a few hours!</p>
					</div>
					div
				</li>
			</ul>			
		</div>
	</div>
	<!--::::::::::::::::::::::::::::::::::::::::::::::::footer -->
	<footer>
		
	</footer>
	<!--:::::::::::::::::::::::::::::::::::::::::::base footer -->
	<div>
		
	</div>
</body>
</html>