body{
	background: #ffffff;
	font: 13px/1.1em Arial, "Helvetica Neue", Helvetica, sans-serif;
}		

header{
padding: 51 0;
overflow: hidden;
}
	header	div{
		margin: 50px auto;
		width: 940px;
	}
	header img{
		width: 150px;
		height: 26px;
	}
	header .main-menu{
		float: right;
	}
	.main-menu li{
		float: left;
		width: 88px;
	}
		.main-menu a{
			color: #000;
			text-decoration: none;
		}
		.main-menu #login{
			background: #673d9e;
			padding: 8px 25px 8px 25px ;
			text-align: center;
			color: #ffffff;
			border-radius: 50px;
		}
		.main-menu a:hover{
			text-decoration: underline;;
		}

/*
::::::::::::::::::::::::::::::imagen principal;

*/
.main-image{
	background:#fcfcfc;
	height: 636px;
	margin: 0 auto;
	overflow: hidden;
}
#fondorosado{
	height: 540px;
	background:#673d9e;
}
.divimagen{
	width: 940px;
	height: 571px;
	margin: 0 auto;
	
}
.divtext{
	width: 515px;
	float:left;
	padding-top: 65px;
	text-align: center;
}
	.divtext h1{
		font-size:30pt;
		margin: 0 0;
		padding-bottom: 31px;
		color: #ffffff;
		font-weight: normal;
	}
	.divtext h2{
		font-size: 20px;
		margin: 0 0;
		color: #ffffff;
		font-weight: normal;
	}
	.divtext h5{
		margin: 0 0;
		padding-top: 12px;
		padding-bottom: 40px;
		color: #ffffff;
		font-weight: normal;
	}
	.divtext #play{
		width: 515px;
		height: 150px;
		background-image: url(../assets/Play-Button.png);
		background-repeat: no-repeat;
		background-position: center center;
	}
	.divtext input{
		width: 351px;
		height: 30px;
		padding-right: 15px;
	}
	.divtext a{
		width: 31px;
		height:36px;
		padding: 10px 45px 10px 45px;
		background-color: #673d9e;
		color: white;
		text-decoration: none;
		border: 1px solid #ffffff ;
	}
	.divtext a:hover{
		text-decoration: underline;
	}
.divimagen img{
	padding-top: 65px;
	float: right;
}

/*
::::::::::::::::::::::::::::::today;

*/
.today{
	width: 940px;
	height: 690px;
	margin: 0px auto;
	overflow: hidden;
}

	.today h2{
		display: block;
		font-size: 60px;
		text-align: center;
		margin: 0 0;
		padding-top: 75px;
	}
	.today h5{
		display: block;
		padding: 29px 0 75px;
		font-size: 30px;
		margin: 0 0;
		text-align: center;
	}
	
	.today span{
		color: #673d9e;
	}
	.services ul{
		overflow: hidden;
		margin: 0 auto;
		padding: 0 0;

	}
	.services li{
		float: left;
		width: 235px;

	}	
			.services .icon{
				background-repeat: no-repeat;
				background-position: center center;
				height: 67px;
			}
			.services .corazon{
				background-image: url(../assets/corazon.png);
			}.services .mobile{
				background-image: url(../assets/mobile.png);
			}
			.services .candado{
				background-image: url(../assets/candado.png);
			}
			.services .pago{
				background-image: url(../assets/pago.png);
			}
			.services h3{
				text-align: center;
				padding-top: 42px;
				margin: 0 auto;
			}
			
			.services  p{
				margin: 25px auto 80px;
				text-align: center;
				width: 150px;
			}
			
			
			
 #seeallfeatures{
		margin: 0 auto ;
		width: 150px;
		padding: 11px 45px 11px 45px;
		text-align: center;
		font-size: 20px;
		color: #fff;
		background-color: #673d9e;
	
	}

/*
:::::::::::::::::::::::::::::::dashboard
*/
.dashboard{
	background-color: #cdcdcd;
	height:940px;
	overflow: hidden;
	
}
	.dashboard .contenedor{
		width: 940px;
		margin: 0 auto;

	}
	.dashboard h2{
		display: block;
		padding-top: 78px;
		font-size: 60px;
		text-align: center;
		margin: 0 0;
	}
		.dashboard span{
			color: #673d9e;
		}
	.dashboard h5{
		display: block;
		padding: 29px 0 75px;
		font-size: 30px;
		margin: 0 0;
		text-align: center;
	}
	.dashboard .dashboard-imagen{
		background-image: url(../assets/Customization-options.png);
		background-repeat: no-repeat;
		height:528px;
		width: 913px;
		margin: 0 auto;
		
	}
/*
::::::::::::::::::::::::::::::satisfaction
*/
.satisfaction{
	margin: 0 auto;
	width: 940px;
}
	.satisfaction h2{
		padding-top: 50px;
		font-size: 60px;
		text-align: center;
		margin: 0 0;
	}
		.satisfaction span{
			color: #673d9e;
		}
	.satisfaction h5{
		padding: 29px 0 75px;
		font-size: 30px;
		margin: 0 0;
		text-align: center;
	}
/*
::::::::::::::::::::::::::::::comentarios
*/	
	.comentarios ul{
		overflow: hidden;
	}
	.comentarios li{
		float: left;
		width: 300px;
	}
	.comentarios .img-comment{
		background-image: url(../assets/comment.png);
		background-position: center center;
		background-repeat: no-repeat;;
		width:263px;
		height:271px;
	}
	.comentarios p{
		padding: 30px 50px 0 50px;
		font-size: 20px;
		text-align: center;
	}
	#circulos{
		width: 263px;
	}

		#circulos .div-borde{
			border: 1px solid #ededed;
			border-radius: 100%	;
			width: 220px;
			height: 220px;
			margin: 28px auto;

		}
		 .div-relleno{
			background-color: #673d9e;
			width: 207px;
			height: 207px;
			border-radius: 100%;
			margin:6.5px auto;
		}
	#circulos h3{
		font-size: 20pt;
		text-align: center;
		padding-top:28px;
		margin: 0 auto;
	}
	#circulos h5
	{
		font-size: 16pt;
		text-align: center;
		padding-top: 10px;
		margin: 0 auto;
		font-style: normal;
	}


/*
::::::::::::::::::::::::::::::footer
*/
footer{
background-color: #222222;
height: 451px;
}
footer h3{
	padding-top: 22px;
	margin: 0 0;
	color:#ffffff;
}
footer h4{
	font-size: 20px;
	padding-bottom: 22px;
}
footer h5, h4{
	color: #ffffff;
	margin:  0 0 ;
}
	footer div{
		width: 960px;
		margin: 0 auto;
		height: 455px;
	}
	footer ul{
		overflow: hidden;
		padding-left: 0;
		margin: 0 0;
		height: 350px;
	}
	.lista{
		height: 400px;
	}
	footer .lista{
		padding: 23px 0 0 0;
	}
	.lista li{
	
		padding-bottom: 15px;
		width: 238px;
		float: left;
	}
	.lista h5:hover{
		text-decoration: underline;
	}


#stayintouch{
	padding: 54px 0 25px 0;
}
.redes {

}
.redes .liredes{
	margin-bottom: 10px;
	height: 26px;
	padding: 0 0 0 0;
}

.liredes  h5{
	padding:7px 37px;
}



.liredes img{
	float: left;
}


/*
::::::::::::::::::::::::::::::basefooter
*/

.base-footer{
	background-color: #673d9e;
	margin: 0 auto;
	height: 51px;
	overflow: hidden;
}
.divbase{
	padding:0 0;
	height: 51px;

}
.divbase h5{
	padding-top: 22px;
}
